<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Account Statement</title>
</head>
<body>
{% include 'navbar.html' %}
<h1>Account Statement for Account Number: {{ account.account_number }}</h1><br>
    <h2>Balance avialble: {{ account.balance }}</h2>
    <table>
        <thead>
            <tr>
                <th>Transaction Number</th>
                <th>Date</th>
                <th>Description</th>
                <th>Deposit</th>
                <th>Withdraw</th>
                <th>Balance</th>
                
            </tr>
        </thead>
        <tbody>
            {% for transaction in account_statement %}
            <tr>
                <td>{{ transaction.reference_number }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.deposit }}</td>
                <td>{{ transaction.withdraw }}</td>
                <td>{{ transaction.balance }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

