<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Accounts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>All Accounts</h1>
    <table>
        <tr>
            <th>Account Number</th>
            <th>Name</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th>View Details</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{ account.account_number }}</td>
            <td>{{ account.name }}</td>
            <td>{{ account.account_type }}</td>
            <td>{{ account.balance }}</td>
            <td><a href="{{ url_for('view_user_details', account_number=account.account_number) }}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

