<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Accounts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
 {% include 'navbar.html' %}
    <h1>All Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Name</th>
                <th>Account Type</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.account_number }}</td>
                <td>{{ account.name }}</td>
                <td>{{ account.account_type }}</td>
                <td>{{ account.balance }}</td>
                <td>
                    
                    {% if account.account_type == 'Loan' %}
                    <a href="{{ url_for('emi_payment', encrypted_account_number=encrypt(account.account_number)) }}" class="button">Pay EMI</a>
                    <a href="{{ url_for('loan_account_statement', encrypted_account_number=encrypt(account.account_number)) }}" class="button">View Loan Statement</a>
                {% else %}
                    <a href="{{ url_for('statement.account_statement', encrypted_account_number=encrypt(account.account_number)) }}" class="button">View Statement</a>
                    <a href="{{ url_for('deposit', encrypted_account_number=encrypt(account.account_number)) }}" class="button">Deposit</a>
                    <a href="{{ url_for('withdraw', encrypted_account_number=encrypt(account.account_number)) }}" class="button">Withdraw</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
	    <!-- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    </table>

        <script>
        // Check if alert message exists in the URL and display it
        const urlParams = new URLSearchParams(window.location.search);
        const alertMessage = urlParams.get('alert_message');
        if (alertMessage) {
            alert(alertMessage);
        }
    </script>
</body>
</html>

