<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMI Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% include 'navbar.html' %}

    <div class="container">
        <h2>EMI Payment for {{ user.first_name }} {{ user.last_name }}</h2>
        <p>Account Number: {{ user.account_number }}</p>
        <p>Remaining Loan Amount: {{ remaining_loan_amount }}</p>
        <form method="POST" action="{{ url_for('emi_payment', encrypted_account_number=encrypt(account.account_number)) }}">
            <label for="emi_amount">EMI Amount:</label>
            <input type="number" id="emi_amount" name="emi_amount" value="{{ emi }}" readonly required>
            <input type="submit" value="Pay EMI" class="button">
        </form>
    </div>
    <!-- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    // Check if alert message exists in the URL and display it
    const urlParams = new URLSearchParams(window.location.search);
    const alertMessage = urlParams.get('alert_message');
    if (alertMessage) {
        alert(alertMessage);
    }
</script>
</body>
</html>
