<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/emi.css') }}">
    <title>Loan Account Statement</title>
</head>
<body>
{% include 'navbar.html' %}
<h1>Loan Account Statement for Account Number: {{ account.account_number }}</h1><br>
<h2>Remaining Loan Amount: {{ remaining_loan_amount }}</h2>
<th><div class="button-group">
    <a href="{{ url_for('emi_payment', encrypted_account_number=encrypt(account.account_number)) }}" class="button">Pay EMI</a></div>
</th>
<!-- EMI Schedule -->
<h3>EMI Schedule</h3>
<table>
    <thead>
        <tr>
            <th>EMI Number</th>
            <th>Due Date</th>
            <th>EMI Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for emi in emi_schedule %}
        <tr>
            <td>{{ emi.emi_number }}</td>
            <td>{{ emi.due_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ emi.emi_amount | float }}</td>
            <td>
                {% if emi.status == 'Paid' %}
                Paid
                {% else %}
                Pending
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
