<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to Bank Management System</h1>
    <p><a href="{{ url_for('all_accounts') }}">View All Accounts</a></p>
    <p><a href="{{ url_for('all_users') }}">View All Users</a></p>
    <p><a href="{{ url_for('open_account') }}">Open New Account</a></p>
    <p><a href="{{ url_for('dashboard') }}">Dashboard</a></p>
</body>
</html>

