<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Search Results</title>
</head>
<body>
{% include 'navbar.html' %}
    <h1>Search Results</h1>
    <table>
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Aadhaar Number</th>
                <th>PAN Number</th>
		<th>Action</th>
                <!-- Add more table headers for additional user details -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.account_number }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.mobile_number }}</td>
                <td>{{ user.aadhaar_number }}</td>
                <td>{{ user.pan_number }}</td>
		        <td>
                    {% if account.account_type == 'Loan' %}
                    <a href="{{ url_for('emi_payment', encrypted_account_number=encrypt(account.account_number)) }}" class="button">Pay EMI</a>
                    <a href="{{ url_for('loan_account_statement', encrypted_account_number=encrypt(account.account_number)) }}" class="button">View Loan Statement</a>
                    {% else %}
                    <a href="{{ url_for('deposit', encrypted_account_number=encrypt(account.account_number)) }}" class="button">Deposit</a>
                    <a href="{{ url_for('withdraw', encrypted_account_number=encrypt(account.account_number)) }}" class="button">Withdraw</a>
		            <a href="{{ url_for('statement.account_statement', encrypted_account_number=encrypt(account.account_number)) }}" class="button">View Statement</a>
                    {% endif %}
                </td>
                

                <!-- Add more table cells for additional user details -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

