<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>User Details</h1>
    <table>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td>{{ user.dob }}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>{{ user.address }}</td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td>{{ user.mobile_number }}</td>
        </tr>
        <tr>
            <td>Aadhaar Number:</td>
            <td>{{ user.aadhaar_number }}</td>
        </tr>
	<tr>
            <td>Account Number:</td>
            <td>{{ user.account_number }}</td>
        </tr>
        <tr>
            <td>PAN Number:</td>
            <td>{{ user.pan_number }}</td>
        </tr>
    </table>
</body>
</html>

